/*body {
  background-image: url("../res/quiz.jpg");
  background-size: cover;
}*/
body{
  background-color: #000064;
}
img{
  float: left;
}
.intro {
  font-family: montserrat;
  padding-left: 1000px;
  margin-right: 175px;
  color: #f5f5f5;
  text-align: center;
  font-size: 2.5em;
}

.intro h3 {
  padding-top: 3em;
  font-size: 1.5em;
  padding-bottom: 1em;
}

.preQuiz , .round1{
  display: none;
  text-align: center;
  font-size: 7em;
  color: #f5f5f5;
  margin: auto;
  margin-top: 20vh;

}

.progressBar {
    display: none;
    background-color: #F5F5F5;
    height: 2vh;
    width: 100vw;
}

.question-box {
  display: none;
  color: #f5f5f5;
  text-align: center;
  margin-top: 5vh;
}

.question-box img {
  height: 30vh;
  padding-top: 50px;
}

.options {
  display: none;
  text-align: center;
  margin-top: 5vh;
  margin-right: 5vh;
}

.btn {
  background-color: #f5f5f5;
  margin-bottom: 5vh;
  margin-left : -40px;
  height: 100px;
  width: 250px;
  font-size: 1em;
}

.hide {
  display: none;
}

#option {
  position: inherit;
  color: black;
}

#option1,#option2,#option3,#option4 {
  color: #8B008B;
  font-family: montserrat;
  font-size: 30px;
}

.result {
  display: none;
  color: #f5f5f5;
  font-size: 2em;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
}

.result h1 {
  font-size: 2em;
}

.result ul {
  list-style-type: none;

}
